[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
watchdog = "*"
appdirs = "*"
pathlib2 = "*"
Pillow = "*"
wxPython = "*"
pywin32-ctypes = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.9"
